@font-face {
   font-family: 'Open Sans-semi';
   src: url('../fonts/open-sans-semibold.ttf');
}
@font-face {
   font-family: 'Raleway-medium';
   src: url("../fonts/raleway-medium.ttf");
}
@font-face {
   font-family: 'Raleway';
   src: url('../fonts/raleway-regular.ttf');
}
@font-face {
   font-family: 'Open Sans-Bold';
   src: url('../fonts/open-sans-bold2.ttf');
}
@font-face {
   font-family: 'Open Sans';
   src: url('../fonts/open-sans-regular.ttf');
}
@font-face {
   font-family: 'Raleway-Bold';
   src: url('../fonts/raleway-bold.ttf');
}